/* Clean file for your awesome overrides, enable in the info file to use. */

.block-region-content {border-left: 1px solid rgb(213, 213, 213); border-right: 1px solid rgb(213, 213, 213); background-color: #f5f5f5; }
.article-inner { border-bottom: 1px solid rgb(213, 213, 213); 
padding-left: 10px; padding-right: 10px; }
.comment-inner { border-top: 1px solid rgb(213, 213, 213); }
h1, h2, h3 { color: #00267f; }


